<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeeQuick_Two.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>608F63321DE72BBB0095287A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>608F63451DE72BBB0095287A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>608F63501DE72BBB0095287A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
